{% extends 'base.html' %}
{% block content %}
<div class="merch">
    <div class="card onmouse">
        <img src="static/images/clothes/clothing_1_back.jpg" alt="clothing_1_back" class="merch">
        <img src="static/images/clothes/clothing_1_front.jpg" alt="clothing_1_front" class="merch">
    </div>
    <div class="card onmouse"> 
        <img src="static/images/clothes/clothing_2_back.jpg" alt="clothing_2_front" class="merch">
        <img src="static/images/clothes/clothing_2_front.jpg" alt="clothing_2_back" class="merch">
    </div>
</div>
{% endblock %}